In [1]:
# Import packages
import pandas as pd
import sklearn as sk
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn import metrics
import math
import pickle
import joblib

In [2]:
# Read data
df_raw = pd.read_csv('C:/Users/karen/PycharmProjects/ycng228-project/.data/_SP500_data_all.csv',index_col = 0)
df_raw.index = pd.to_datetime(df_raw.index)
df_raw.index.name = 'date'
df_raw = df_raw.sort_index(axis = 0)

In [3]:
df_raw.head(5)

,open,high,low,close,adjclose,volume,ticker
date,,,,,,,
1970-03-25,6.781250,6.937500,6.781250,6.875000,0.261931,68400,ED
1970-03-25,0.341564,0.368313,0.340535,0.349794,0.158033,2041200,MCD
1970-03-25,8.084030,8.434241,8.054846,8.200767,1.285789,382912,IP
1970-03-25,1.753906,1.796875,1.753906,1.789063,0.158143,2720000,XOM
1970-03-25,15.750478,16.108988,15.750478,15.917782,3.698164,1303316,IBM

In [4]:

df_open = df_raw[['open','ticker']]
df_high = df_raw[['high','ticker']]
df_low = df_raw[['low','ticker']]
df_close = df_raw[['close','ticker']]
df_adjclose = df_raw[['adjclose','ticker']]
df_volume = df_raw[['volume','ticker']]

In [5]:
# Functions
def pivot_df(_df):
    _df = _df.pivot(columns = "ticker")
    return _df


def diff_df(_df):
    _df = _df.diff()
    return _df


def trim_df(_df,_start,_end):
    dates = _df.index.get_level_values('date')[(_df.index.get_level_values('date') >= _start) & \
                                               (_df.index.get_level_values('date') <= _end)]
    _df = pd.DataFrame(_df[_df.index.get_level_values('date').isin(dates)][_df.columns])
    return _df


def create_input_0(_df,_pivot_start,_pivot_end):
    pivots = _df.index.get_level_values('date')[(_df.index.get_level_values('date') >= _pivot_start) & \
                                               (_df.index.get_level_values('date') <= _pivot_end)]

    column_names = ['day' + str(i) for i in range(1,31)]
    column_names.append('output')
    column_names.append('ticker')
    column_names.append('date')

    df_input = pd.DataFrame(columns=column_names)
    
    for i in pivots:
        df_tmp = trim_df(_df,_df.index[0],i)
        df_tmp = df_tmp.tail(32).diff().dropna()
        df_tmp = pd.DataFrame(df_tmp.transpose().values,columns=column_names[:-2])
        df_tmp['ticker'] = _df.columns.get_level_values('ticker').to_list()
        df_tmp['date'] = i
        df_input = pd.concat([df_input, df_tmp], ignore_index=True)
        
    return df_input


def create_input_1(_df,_pivot_start,_pivot_end):
    pivots = _df.index.get_level_values('date')[(_df.index.get_level_values('date') >= _pivot_start) & \
                                               (_df.index.get_level_values('date') <= _pivot_end)]

    column_names = ['day' + str(i) for i in range(1,46)] #lag=45
    column_names.append('output')
    column_names.append('ticker')
    column_names.append('date')

    df_input = pd.DataFrame(columns=column_names)
    
    for i in pivots:
        df_tmp = trim_df(_df,_df.index[0],i)
        df_tmp = df_tmp.tail(47).diff().dropna() #lag=45
        df_tmp = pd.DataFrame(df_tmp.transpose().values,columns=column_names[:-2])
        df_tmp['ticker'] = _df.columns.get_level_values('ticker').to_list()
        df_tmp['date'] = i
        df_input = pd.concat([df_input, df_tmp], ignore_index=True)
        
    return df_input

def create_input_2(_df,_pivot_start,_pivot_end):
    pivots = _df.index.get_level_values('date')[(_df.index.get_level_values('date') >= _pivot_start) & \
                                               (_df.index.get_level_values('date') <= _pivot_end)]

    column_names = ['day' + str(i) for i in range(1,61)] #lag=60
    column_names.append('output')
    column_names.append('ticker')
    column_names.append('date')

    df_input = pd.DataFrame(columns=column_names)
    
    for i in pivots:
        df_tmp = trim_df(_df,_df.index[0],i)
        df_tmp = df_tmp.tail(62).diff().dropna() #lag=60
        df_tmp = pd.DataFrame(df_tmp.transpose().values,columns=column_names[:-2])
        df_tmp['ticker'] = _df.columns.get_level_values('ticker').to_list()
        df_tmp['date'] = i
        df_input = pd.concat([df_input, df_tmp], ignore_index=True)
        
    return df_input


def create_input_3(_df,_pivot_start,_pivot_end):
    pivots = _df.index.get_level_values('date')[(_df.index.get_level_values('date') >= _pivot_start) & \
                                               (_df.index.get_level_values('date') <= _pivot_end)]

    column_names = ['day' + str(i) for i in range(1,91)] #lag=90
    column_names.append('output')
    column_names.append('ticker')
    column_names.append('date')

    df_input = pd.DataFrame(columns=column_names)
    #df_tmp = pd.DataFrame(columns=_df.columns)
    
    for i in pivots:
        df_tmp = trim_df(_df,_df.index[0],i)
        df_tmp = df_tmp.tail(92).diff().dropna() #lag=90
        df_tmp = pd.DataFrame(df_tmp.transpose().values,columns=column_names[:-2])
        df_tmp['ticker'] = _df.columns.get_level_values('ticker').to_list()
        df_tmp['date'] = i
        df_input = pd.concat([df_input, df_tmp], ignore_index=True)
        
    return df_input


def tokenize_output(_df,_column='output'):
    df_tmp = _df
    df_tmp.loc[df_tmp[_column] <= 0, _column] = -1 
    df_tmp.loc[df_tmp[_column] >  0, _column] =  1 

    return df_tmp

In [6]:
# CREATE formatted dfs
df_open_clean = pivot_df(trim_df(df_open,'2018-01-01','2022-09-01')).fillna(method = 'bfill')
df_high_clean = pivot_df(trim_df(df_high,'2018-01-01','2022-09-01')).fillna(method = 'bfill')
df_low_clean = pivot_df(trim_df(df_low,'2018-01-01','2022-09-01')).fillna(method = 'bfill')
df_close_clean = pivot_df(trim_df(df_close,'2018-01-01','2022-09-01')).fillna(method = 'bfill')
df_adjclose_clean = pivot_df(trim_df(df_adjclose,'2018-01-01','2022-09-01')).fillna(method = 'bfill')
df_volume_clean = pivot_df(trim_df(df_volume,'2018-01-01','2022-09-01')).fillna(method = 'bfill')

In [44]:
# Iteration 0 - Baseline

In [16]:
df_train_0 = tokenize_output(create_input_0(trim_df(df_close_clean,'2019-01-01','2022-05-01'),'2019-04-01','2022-05-01'))
df_test_0 = tokenize_output(create_input_0(trim_df(df_close_clean,'2022-01-01','2022-09-01'),'2022-06-01','2022-09-01'))

In [17]:
lr_0 = LogisticRegression(solver='liblinear')

In [18]:
X_0,y_0 = df_train_0.iloc[:,:-3],df_train_0.iloc[:,30]
X_valid_0,y_valid_0 = df_test_0.iloc[:,:-3],df_test_0.iloc[:,30]
X_train_0, X_test_0, y_train_0, y_test_0 = train_test_split(X_0, y_0, test_size=0.33, random_state=42)
lr_0.fit(X_train_0,y_train_0)
y_pred_0 = lr_0.predict(X_test_0)
y_predv_0 = lr_0.predict(X_valid_0)

In [19]:
bal_acc_train_0 = metrics.balanced_accuracy_score(y_test_0, y_pred_0)
bal_acc_valid_0 = metrics.balanced_accuracy_score(y_valid_0, y_predv_0)
print('Training balanced accuracy: ' + str(bal_acc_train_0))
print('Validation balanced accuracy: ' + str(bal_acc_valid_0))

Training balanced accuracy: 0.5073219375692692
Validation balanced accuracy: 0.5055112982376558

In [20]:
# Iteration 1 - Adjust lag from 30 to 45 days

In [11]:
df_train_1 = tokenize_output(create_input_1(trim_df(df_close_clean,'2019-01-01','2022-05-01'),'2019-04-01','2022-05-01'))
df_test_1 = tokenize_output(create_input_1(trim_df(df_close_clean,'2022-01-01','2022-09-01'),'2022-06-01','2022-09-01'))

In [12]:
display(df_train_1)

,day1,day2,day3,day4,day5,day6,day7,day8,day9,day10,...,day39,day40,day41,day42,day43,day44,day45,output,ticker,date
0,1.470001,-0.380005,0.290001,1.880005,0.610001,-0.010002,-0.010002,0.279999,-0.009995,-0.970001,...,1.080002,-3.010002,0.529999,1.130005,-1.650002,0.699997,0.68,1,A,2019-04-01 00:00:00
1,1.32,1.59,-0.279999,0.049999,-0.57,0.34,0.669998,0.150002,-0.170002,-0.59,...,0.490002,-0.880001,-0.360001,0.0,0.730001,-0.040001,0.860001,1,AAL,2019-04-01 00:00:00
2,-3.089996,1.639999,0.529999,3.649994,0.160004,-0.160004,2.310013,0.110001,-4.240005,5.910004,...,4.920013,-4.230011,2.940002,0.490005,-1.380005,1.860001,1.779999,1,AAP,2019-04-01 00:00:00
3,1.264999,-0.364998,-0.405003,2.642502,0.297501,0.02,1.182499,0.732498,0.015003,-0.825001,...,1.732498,-1.009998,-0.577499,-0.487503,0.420002,0.0625,0.307499,1,AAPL,2019-04-01 00:00:00
4,-5.339996,-3.400002,0.330002,1.589996,1.230003,0.209999,-1.970001,1.160004,-0.610001,0.089996,...,0.809998,-1.479996,-0.25,1.25,-0.870003,0.07,0.629997,1,ABBV,2019-04-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391329,-0.229996,2.360001,-1.139999,-2.560005,1.980003,-2.300003,-0.969994,-5.43,1.939995,0.779999,...,1.059998,-1.259995,-2.040001,-1.130005,-4.579994,0.209999,2.619995,-1,YUM,2022-04-29 00:00:00
391330,0.873779,3.126221,0.475723,0.654564,-1.449997,-0.560005,-1.689995,-3.760002,-0.93,1.889999,...,3.25,-2.190002,-5.960007,2.110001,-3.659996,-1.270004,1.730003,-1,ZBH,2022-04-29 00:00:00
391331,16.039978,2.740021,-4.730011,-7.76001,9.690002,-7.97998,-13.050018,-12.589996,2.27002,15.189972,...,-8.199982,-8.380005,-12.059998,10.959991,-14.440002,-3.390015,11.870026,-1,ZBRA,2022-04-29 00:00:00
391332,-2.739998,4.019997,-0.099998,-5.949997,3.439995,-0.379997,-2.610001,-3.16,0.220001,2.679996,...,-0.309998,-2.990002,-1.489998,0.349998,-5.259998,0.179996,1.980003,-1,ZION,2022-04-29 00:00:00
391333,3.889999,3.76001,-1.060013,-1.110001,3.530014,-0.200012,0.970001,-8.75,-6.699997,8.190002,...,1.839996,-3.059998,-2.770004,-1.649994,-3.330002,1.5,2.839996,-1,ZTS,2022-04-29 00:00:00

In [13]:
lr_1 = LogisticRegression(solver='liblinear')

In [14]:
X_1,y_1 = df_train_1.iloc[:,:-3],df_train_1.iloc[:,45]
X_valid_1,y_valid_1 = df_test_1.iloc[:,:-3],df_test_1.iloc[:,45]
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X_1, y_1, test_size=0.33, random_state=42)

#lr_1.fit(X_train_1,y_train_1)
#y_pred_1 = lr_1.predict(X_test_1)
#y_predv_1 = lr_1.predict(X_valid_1)

In [24]:
bal_acc_train_1 = metrics.balanced_accuracy_score(y_test_1, y_pred_1)
bal_acc_valid_1 = metrics.balanced_accuracy_score(y_valid_1, y_predv_1)
print('Training balanced accuracy: ' + str(bal_acc_train_1))
print('Validation balanced accuracy: ' + str(bal_acc_valid_1))

Training balanced accuracy: 0.5098055076313895
Validation balanced accuracy: 0.5115039569297077

In [ ]:
# Iteration 2 - Adjust lag from 45 to 60 days

In [25]:
df_train_2 = tokenize_output(create_input_2(trim_df(df_close_clean,'2019-01-01','2022-05-01'),'2019-04-01','2022-05-01'))
df_test_2 = tokenize_output(create_input_2(trim_df(df_close_clean,'2022-01-01','2022-09-01'),'2022-06-01','2022-09-01'))

In [26]:
lr_2 = LogisticRegression(solver='liblinear')

In [27]:
X_2,y_2 = df_train_2.iloc[:,:-3],df_train_2.iloc[:,60]
X_valid_2,y_valid_2 = df_test_2.iloc[:,:-3],df_test_2.iloc[:,60]
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_2, y_2, test_size=0.33, random_state=42)
lr_2.fit(X_train_2,y_train_2)
y_pred_2 = lr_2.predict(X_test_2)
y_predv_2 = lr_2.predict(X_valid_2)

In [28]:
bal_acc_train_2 = metrics.balanced_accuracy_score(y_test_2, y_pred_2)
bal_acc_valid_2 = metrics.balanced_accuracy_score(y_valid_2, y_predv_2)
print('Training balanced accuracy: ' + str(bal_acc_train_2))
print('Validation balanced accuracy: ' + str(bal_acc_valid_2))

Training balanced accuracy: 0.5114626955272751
Validation balanced accuracy: 0.5062041650195774

In [324]:
# Iteration 3 - Adjust lag from 60 to 90 days

In [31]:
df_train_3 = tokenize_output(create_input_3(trim_df(df_close_clean,'2018-11-01','2022-05-01'),'2019-04-01','2022-05-01'))
df_test_3 = tokenize_output(create_input_3(trim_df(df_close_clean,'2022-01-01','2022-09-01'),'2022-06-01','2022-09-01'))

In [32]:
lr_3 = LogisticRegression(solver='liblinear')

In [35]:
X_3,y_3 = df_train_3.iloc[:,:-3],df_train_3.iloc[:,90]
X_valid_3,y_valid_3 = df_test_3.iloc[:,:-3],df_test_3.iloc[:,90]
X_train_3, X_test_3, y_train_3, y_test_3 = train_test_split(X_3, y_3, test_size=0.33, random_state=42)
lr_3.fit(X_train_3,y_train_3)
y_pred_3 = lr_3.predict(X_test_3)
y_predv_3 = lr_3.predict(X_valid_3)

In [36]:
bal_acc_train_3 = metrics.balanced_accuracy_score(y_test_3, y_pred_3)
bal_acc_valid_3 = metrics.balanced_accuracy_score(y_valid_3, y_predv_3)
print('Training balanced accuracy: ' + str(bal_acc_train_3))
print('Validation balanced accuracy: ' + str(bal_acc_valid_3))

Training balanced accuracy: 0.5150177052885482
Validation balanced accuracy: 0.4994879580548367

In [ ]:
filename = 'mdl.sav'
joblib.dump(logreg, filename)