In [ ]:
# Data exploration

In [15]:
# Import libraries
import pandas as pd

In [17]:
# Read data
df = pd.read_csv('C:/Users/karen/PycharmProjects/ycng228-project/.data/_SP500_data_all.csv',index_col = 0)
df.index.name = 'Date'

In [18]:
display(df)

,open,high,low,close,adjclose,volume,ticker
Date,,,,,,,
2005-09-27,21.049999,21.400000,19.100000,19.299999,18.194910,961200,AAL
2005-09-28,19.299999,20.530001,19.200001,20.500000,19.326200,5747900,AAL
2005-09-29,20.400000,20.580000,20.100000,20.209999,19.052809,1078200,AAL
2005-09-30,20.260000,21.049999,20.180000,21.010000,19.807001,3123300,AAL
2005-10-03,20.900000,21.750000,20.900000,21.500000,20.268944,1057900,AAL
...,...,...,...,...,...,...,...
2022-09-26,149.750000,151.389999,148.289993,148.600006,148.600006,1631100,ZTS
2022-09-27,150.089996,151.139999,147.770004,149.399994,149.399994,1930900,ZTS
2022-09-28,151.320007,154.000000,150.089996,152.259995,152.259995,2079200,ZTS
2022-09-29,152.059998,152.559998,150.000000,150.949997,150.949997,1642000,ZTS
2022-09-30,150.419998,152.029999,148.039993,148.289993,148.289993,2437200,ZTS

In [21]:
df = df.sort_index(axis = 0)

In [22]:
display(df)

,open,high,low,close,adjclose,volume,ticker
Date,,,,,,,
1970-03-25,12.153250,12.434250,12.153250,12.364000,0.467821,60498,CNP
1970-03-25,1.062500,1.100694,1.062500,1.086806,0.352700,2275200,JNJ
1970-03-25,6.375000,6.554688,6.375000,6.476563,1.319017,436800,MMM
1970-03-25,6.781250,6.937500,6.781250,6.875000,0.261931,68400,ED
1970-03-25,1.753906,1.796875,1.753906,1.789063,0.158143,2720000,XOM
...,...,...,...,...,...,...,...
2022-09-30,27.750000,27.809999,27.690001,27.719999,27.719999,6244100,NLSN
2022-09-30,77.610001,77.959999,75.129997,75.209999,75.209999,1892100,SWK
2022-09-30,215.860001,217.320007,212.029999,214.699997,214.699997,2501700,AMT
2022-09-30,20.430000,20.610001,20.120001,20.139999,20.139999,4884200,NLOK
2022-09-30,150.419998,152.029999,148.039993,148.289993,148.289993,2437200,ZTS

# To do:
1. Validate min date where all indexes are present (not all should start at 1970)
2. Validate number of tickers per date
3. Validate missing lines per ticker (after min date)
4. Validate NaaN for all columns
5. Validate zero values
6. MAX/MIN
7. Average / Variance, Global vs per Ticker?
8.
9.
10.


99. Yahoo_finance lists industry sectors. this may be an interesting feature (get industry trend for a month for example). This would be additional data.

In [24]:
# Code

# Results

blablabla